
@media (max-width: 991px) {html,
  body }{
html,
  body {
    overflow-x: hidden;
  }
html,
  body {
    overflow-x: hidden;
  }
body {
    position: relative;
  }
}
@media print {body }{
body {
    min-width: 992px !important;
  }
}
@media print {*,
  *::before,
  *::after }{
*,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}